  -- interface
vim.pack.add({
  -- Color scheme
  'https://github.com/ellisonleao/gruvbox.nvim',
  -- Status line
  'https://github.com/vim-airline/vim-airline', -- Interface
  'https://github.com/vim-airline/vim-airline-themes', -- Interface theme

  --LSP
  "https://github.com/williamboman/mason.nvim", -- automatically install lsp
  "https://github.com/neovim/nvim-lspconfig", -- dependency for mason-lspconfig
  "https://github.com/williamboman/mason-lspconfig.nvim", -- automatically configure lsp installed by mason
  'https://github.com/liuchengxu/vista.vim', -- LSP file object listing

  --Commands
  'https://github.com/tpope/vim-eunuch',  -- commands to manage files
  'https://github.com/tpope/vim-fugitive', -- git integration
  'https://github.com/tpope/vim-unimpaired', -- better default key bindings

  -- Databases
  'https://github.com/tpope/vim-dadbod', -- database
  'https://github.com/kristijanhusak/vim-dadbod-ui', -- database

  -- Interpreters
  'https://github.com/jpalardy/vim-slime', -- REPL integration

  -- File Browser
  'https://github.com/stevearc/oil.nvim', -- file browser

  -- File Picker
  'https://github.com/nvim-lua/plenary.nvim', -- dependency for telescope
  'https://github.com/nvim-telescope/telescope-fzf-native.nvim', -- dependency for telescope
  { src='https://github.com/nvim-telescope/telescope.nvim', version='v0.2.2' }, -- finder

  -- Snippets
  { src = "https://github.com/L3MON4D3/LuaSnip", version = "v2.5.0", },

  -- Activity Watch
  'https://github.com/ActivityWatch/aw-watcher-vim', -- track work time

  -- Language Support
  'https://github.com/JuliaEditorSupport/julia-vim',  -- julia languages
  'https://github.com/naegelejd/vim-swig',-- swig languages
  'https://github.com/Glench/Vim-Jinja2-Syntax',-- jinja languages
  'https://github.com/terrastruct/d2-vim', -- d2lang
})
local pack_hooks = function(ev) 
    local name, kind = ev.data.spec.name, ev.data.kind
    if (kind == 'install' or kind == 'update') then
        if(name == "telescope-fzf-native.nvim") then
            vim.system({'make'}, { cwd = ev.data.path })
        end
        if(name == "L3MON4D3/LuaSnip") then
            vim.system({'make install_jsregexp'}, { cwd = ev.data.path })
        end
    end
end
vim.api.nvim_create_autocmd('PackChanged', {callback = pack_hooks})

-- snippets
local ls = require("luasnip")
vim.keymap.set({"i"}, "<C-Space>", function() ls.expand() end, {silent = true})
vim.keymap.set({"i", "s"}, "<C-J>", function() ls.jump(1) end, {silent = true})
vim.keymap.set({"i", "s"}, "<C-L>", function() ls.jump(-1) end, {silent = true})
vim.keymap.set({"i", "s"}, "<C-E>", function()
	if ls.choice_active() then
		ls.change_choice(1)
	end
end, {silent = true})


-- Mappings.
local opts = { noremap=true, silent=true }
vim.keymap.set('n', '<space>q', vim.diagnostic.setloclist, opts)
vim.keymap.set('i', 'jj', '<ESC>')
vim.keymap.set('c', '<C-A>', '<Home>')
vim.keymap.set('c', '<C-E>', '<End>')
vim.keymap.set('t', '<ESC>', '<C-\\><C-n>')
vim.cmd[[
    cnoremap <expr> %% getcmdtype() == ':' ? expand('%:h').'/' : '%%'
]]


-- options
vim.opt.autoindent=true
vim.opt.completeopt = vim.opt.completeopt + "noselect"
vim.opt.cursorcolumn=true
vim.opt.cursorline=true
vim.opt.colorcolumn="110"
vim.opt.expandtab=true
vim.opt.hidden=true
vim.opt.history=200
vim.opt.ignorecase=true
vim.opt.incsearch=true
vim.opt.mouse='a'
vim.opt.matchpairs = vim.opt.matchpairs + "<:>"
vim.opt.number=true
vim.opt.shiftwidth=4
vim.opt.smartcase=true
vim.opt.softtabstop=4
vim.opt.spell=true
vim.opt.spelllang="en_us"
vim.opt.tabstop=4
vim.opt.wildignore=vim.opt.wildignore + "*.git/*,*.hg/*,*.svn/*,*/__pycache__/*"
vim.opt.wildmenu=true
vim.opt.wildmode="longest:full,full"
vim.opt.laststatus=2
vim.opt.splitright=true
vim.opt.makeprg='m'


-- slime
vim.g['slime_bracketed_paste'] = 1
vim.g['slime_target'] = "neovim"

-- style
vim.opt.termguicolors = true
vim.cmd [[ colorscheme gruvbox ]]

-- telescope
require('telescope').setup({
    defaults = {
        theme = "dropdown"
    }
})
local telescope = require('telescope.builtin')
local find_projects = function()
  return telescope.find_files {
    prompt_title = 'Projects',
    cwd = vim.fn.expand('~/git'),
    find_command = {'fd', '-H', '--type', 'd', '^.git$', '-x', 'dirname'}
  }
end
vim.keymap.set('n', '<C-p>', telescope.git_files, {})
vim.keymap.set('n', '<space>p', find_projects)

require("oil").setup()
require("mason").setup()
require("mason-lspconfig").setup {
    ensure_installed = {"basedpyright", "gopls", "ts_ls", "julials", "texlab", "lua_ls", "vimls"}
}
vim.lsp.config["lua_ls"] = {
  on_init = function(client)
    if client.workspace_folders then
      local path = client.workspace_folders[1].name
      if path ~= vim.fn.stdpath('config') and (vim.uv.fs_stat(path..'/.luarc.json') or vim.uv.fs_stat(path..'/.luarc.jsonc')) then
        return
      end
    end
   client.config.settings.Lua = vim.tbl_deep_extend('force', client.config.settings.Lua, {
      runtime = { version = 'LuaJIT' },
      workspace = {
        checkThirdParty = false,
        library = {
          vim.env.VIMRUNTIME
        }
      }
    })
  end,
  settings = {
    Lua = {}
  }
}


-- vim: ft=lua :
