AddKeysToAgent yes
ControlPath ~/.ssh/.control_channels/%h:%p:%r


HOST login-gce
  User runderwood
  Hostname logins.cels.anl.gov 
  ControlMaster auto
  ControlPersist yes
  LogLevel FATAL

Host nomachine nomachine.cels.anl.gov
    User runderwood
    Hostname nomachine.cels.anl.gov
    ProxyJump login-gce
    ForwardX11Trusted yes

Host perlmutter
  User robertu
  Hostname perlmutter-p1.nersc.gov
Host agpt
  User runderwood
  Hostname agpt-questions-vmw-01
  ProxyJump login-gce
  ForwardX11Trusted yes 
  DynamicForward 10106
Host gce
  User runderwood
  Hostname homes.cels.anl.gov
  ProxyJump login-gce
  ForwardX11Trusted yes 
Host macos-amd64
  User runderwood
  Hostname compute-macos-01.cels.anl.gov
  ProxyJump login-gce
  ForwardX11Trusted yes 
Host m1
  User runderwood
  Hostname compute-macos-02.cels.anl.gov
  ProxyJump login-gce
  ForwardX11Trusted yes 
Host m1ultra
  User runderwood
  Hostname compute-macos-03.cels.anl.gov 
  ProxyJump login-gce
  ForwardX11Trusted yes 


HOST voyager
  User runderwood

HOST defiant
  USER runderwood

HOST xsede
  User tg860088
  HostName "login.xsede.org"

Host logins.lcrc.anl.gov
  HostName logins.lcrc.anl.gov
  User runderwood
HOST improv
  User runderwood
  HostName "improv.lcrc.anl.gov"
  ProxyJump logins.lcrc.anl.gov
HOST crossover
  User runderwood
  HostName "crossover.lcrc.anl.gov"
  ProxyJump logins.lcrc.anl.gov
HOST chrysalis
  User runderwood
  HostName "chrysalis.lcrc.anl.gov"
  ProxyJump logins.lcrc.anl.gov
HOST swing
  User runderwood
  HostName "swing.lcrc.anl.gov"
  ProxyJump logins.lcrc.anl.gov
HOST bebop
  User runderwood
  HostName "bebop.lcrc.anl.gov"
  ProxyJump logins.lcrc.anl.gov
HOST blues
  User ac.underwoo
  HostName "blues.lcrc.anl.gov"


HOST polaris
  User runderwood
  HostName "polaris.alcf.anl.gov"
  ControlMaster auto
  ControlPersist yes
HOST sophia
  User runderwood
  HostName "sophia.alcf.anl.gov"
HOST theta
  User runderwood
  HostName "theta.alcf.anl.gov"
HOST cooley
  User runderwood
  HostName "cooley.alcf.anl.gov"
HOST mira
  User runderwood
  HostName "mira.alcf.anl.gov"
HOST cetus
  User runderwood
  HostName "cetus.alcf.anl.gov"
HOST jlse
  User runderwood
  HostName "login.jlse.anl.gov"
HOST washington
  User runderwood
  HostName "washington.cels.anl.gov"
HOST summit
  User runderwood
  HostName "summit.olcf.ornl.gov"
HOST crusher
  User runderwood
  HostName "crusher.olcf.ornl.gov"
HOST frontier
  User runderwood
  HostName "frontier.olcf.ornl.gov"
Host aurora
    User runderwood
    HostName aurora.alcf.anl.gov
Host bastion.alcf.anl.gov
     user runderwood
HOST *.sunspot.alcf.anl.gov sunspot.alcf.anl.gov
  User runderwood
  DynamicForward 3142
  HostName "login.sunspot.alcf.anl.gov"
  ProxyJump "bastion.alcf.anl.gov"


Host login-gce
  User runderwood
  Hostname logins.cels.anl.gov
  ControlMaster auto
  ControlPersist yes
  LogLevel FATAL

Host homes-gce
  User runderwood
  Hostname homes.cels.anl.gov
  ProxyCommand ssh login-gce -q -W %h:%p
  ForwardX11 yes

Host delta-ts
  User runderwood
  Hostname delta.tail9b24d.ts.net

HOST spring8
  User runderwood
  HostName "xhpcfep.hpc.spring8.or.jp"
  ForwardX11 yes 
  RemoteForward 9999

HOST slacc
  User robertu
  HostName "centos7.slac.stanford.edu"

HOST pslogin
  User robertu
  HostName "pslogin.slac.stanford.edu"
  ForwardAgent yes
  ForwardX11 yes
  Compression yes

Host delta
  User runderwood

Host tomo1
  User tomo
  HostName tomo1.xray.aps.anl.gov
  ProxyJump bebop

HOST *.clemson.edu
  User robertu
Host *.anl.gov
  User runderwood

HOST *
	User root
	ForwardAgent no
	ForwardX11 no

{{ ssh_site_settings |  default('') }}
